extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="text", name="name", placeholder="Full Name", required=true)        
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="password", name="password2", placeholder="Verify Password", required=true)
            input(type="submit", value="Join Now")
        include partials/socialLogin
        //- method="post" : input된 정보가 URL에 표시되지 않도록 정보를 숨겨서 post (get X)